{% extends "profile/profile_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile/settings.css') }}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
<div class="center">
  <div class="settings">
    <h1>Настройки</h1>
    <form id="settingsForm">
        {{ form.hidden_tag() }}
        <div class="txt_field">
            {{ form.last_name(class="input", required=True) }}
            <label>Фамилия:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.first_name(class="input", required=True) }}
            <label>Имя:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.middle_name(class="input", required=True) }}
            <label>Отчество:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.email(class="input", required=True) }}
            <label>Email:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.current_password(class="input", required=True) }}
            <label>Текущий пароль:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.password(class="input") }}
            <label>Новый пароль:</label>
            <span></span>
        </div>
        <div class="txt_field">
            {{ form.confirm_password(class="input") }}
            <label>Подтвердите пароль:</label>
            <span></span>
        </div>
        <label style="color: #2691d9;">Аватар:</label>
        <div style="display: flex; justify-content: center;">
          <img src="{{ url_for('static', filename=user.avatar) }}" alt="Аватар" style="width: 100px;">
        </div>
        {{ form.avatar(class="input") }}
        
        {{ form.submit(class="submit") }}
    </form>
  </div>
</div>
{% endblock %}